*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loginPageMain{
    width: 100%;
    height: 100vh;
    padding-right: 20%;
    background-color: rgb(6, 1, 34);;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.loginPageMain .backgroundImg{
    width: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.loginPageMain .main{
    width: 30%;
    height: 70vh;
    padding: 30px;
    border: 2px solid #FF0154;
    box-shadow: 2px 2px 10px #FF0154, -2px -2px 10px #FF0154;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.loginPageMain .main .mainLabel{
    position: absolute;
    top: -12px;
    left: 10px;
    padding: 0 5px;
    background-color: rgb(6, 1, 34);;
    color: #FF0154;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px 1px #FF0154, -0.5px -0.5px 1px #FF0154;
}

.loginPageMain .main .logo{
    width: 40%;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

.loginForm{
    width: 100%;
}

.loginForm .label{
    display: block;
    color: #FF0154;
    line-height: 25px;
    margin-top: 5px;
}

.loginForm input{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    padding: 10px;
    outline: none;
    background-color: unset;
    border: 2px solid #FF0154;
    color: white;
    border-radius: 4px;
}

.loginForm input:hover{
    box-shadow: 1px 1px 2px #FF0154, -1px -1px 2px #FF0154;
}
.loginForm input:focus{
    box-shadow: 1px 1px 2px #FF0154, -1px -1px 2px #FF0154;
}

.loginForm button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    background-color: #FF1F68;
    border: 2px solid #FF1F68;
    border-radius: 4px;
    color: #2c010f;
    font-size: 20px;
    font-weight: bold;
}

.loginForm button:hover{
    background-color: #FF0154;
    border: 2px solid #FF0154;
    color: #ffd4e2;
}

.loginForm .or{
    color: #FF0154;
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
}

.main .bottom{
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.main .bottom a{
    color: #c4144e;
    font-size: 16px;
    text-decoration: underline;
    margin: 5px 0;
    cursor: pointer;
}

.main .bottom a:hover{
    color: #ff0055;
}

.loginForm .loginWith{
    width: 100%;
    height: 35px;
    margin: 10px 0;
    border-radius: 4px;
    display: flex;
}

.loginForm .loginWith .icon{
    height: 35px;
    width: 35px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
}

.loginForm .loginWith .icon i{
    font-size: 25px;
    line-height: 35px;
    color: #300010;
}

.loginForm .loginWith .text{
    font-size: 18px;
    padding-left: 10px;
    line-height: 35px;
    color: #300010;
}

.loginForm .facebook{
    background-color: rgba(3, 87, 155, 0.616);
}
.loginForm .facebook:hover{
    background-color: rgba(3, 87, 155, 0.816);
}
.loginForm .twitter{
    background-color: #1d9cf0a6;
}
.loginForm .twitter:hover{
    background-color: #1d9cf0ea;
}

.loginForm .google{
    background-color: rgba(255, 30, 0, 0.616);
}
.loginForm .google:hover{
    background-color: rgba(255, 30, 0, 0.816);
}

.loginForm .facebook .icon{
    background-color: rgb(3, 87, 155);
}

.loginForm .twitter .icon{
    background-color: #1D9BF0;
}

.loginForm .google .icon{
    background-color: rgb(255, 30, 0);
}


@media screen and (max-width: 1600px) {
    .loginPageMain{
        padding-right: 15%;
    }
    .loginPageMain .backgroundImg{
        width: 50%;
    }
    .loginPageMain .main{
        width: 35%;
    }
}

@media screen and (max-width: 1350px) {
    .loginPageMain{
        padding-right: 0;
        justify-content: center;
    }
    .loginPageMain .backgroundImg{
        display: none;
    }
    .loginPageMain .main{
        width: 37%;
    }
}

@media screen and (max-width: 1050px) {
    .loginPageMain .main{
        width: 50%;
    }
}

@media screen and (max-width: 850px) {
    .loginPageMain .main{
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .loginPageMain .main{
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .loginPageMain .main{
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .loginPageMain .main{
        width: 90%;
        height: 90vh;
    }

    .loginPageMain .main .bottom a{
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .loginPageMain .main{
        width: 100%;
        height: 100vh;
        border: none;
        padding-top: 60px;
    }

    .loginPageMain .main .mainLabel{
        display: none;
    }

    .loginPageMain .main .bottom a{
        font-size: 12px;
    }
}